@import (reference) "./globals";

@import "typography";

#heading {
  background: #ecfdff;
  #job-title, #personal-info {
    font-weight: normal;
    color: @text-body-color;
  }

}

.tech-stack {
  .tech {
    color: @text-heading-color;
    font-weight: bold;
  }
}


.entry {
  &__title {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &__key {
    color: @text-body-color;
    margin-right: 5px;
  }
  &__value {
    p {
      display: inline;
    }
  }
  &__description {
    ul {
      margin-bottom: 0;
    }
  }
}

.section {
  margin-bottom: 3.5em;
  &__title {
    color: @text-body-color;
    margin-bottom: 0.75em;
  }
}


article {
  &.entry {
    margin-bottom: 2em;

    &:last-of-type {
      margin-bottom: 0;
    }
    .degree {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
