@import (reference) "./globals";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import (css) url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap);

* {
  font-family: 'Nunito Sans', sans-serif;
  color: @text-body-color;
}

h1, h2, h3, h4, h5, h6, a {
  color: @text-heading-color;
}

h1 {
  text-transform: uppercase;
}

h2, h3, h4, h5, h6, a {
  font-weight: 700;
}

p {
  margin-bottom: 0;
  line-height: 1.45em
}
b {
  color: @text-heading-color;
  font-weight: 700;
  //font-family: 'Roboto', sans-serif;
}

.middot {
  margin: 0 1em;
  font-size: 0.4em;
  vertical-align: middle;
}

